<div class="container-fluid align-items-center justify-content-center mt-4" id="container-fluid-section-three"
     >
  <div class="mt-4 text-center align-items-center justify-content-center">
    <hr style="border: 1px solid #8FC517; opacity: 100; width: 300px; margin-left: 511px">
    <h1 class="mt-4 mb-4" style="color: #08903D; font-size: 34.88px;">Gallery</h1>
    <hr style="border: 1px solid #8FC517; opacity: 100; width: 300px; margin-left: 511px">
  </div>
  <div class="mt-5">
    <div class="container">
      <div class="popup" role="alert">

      </div>

    </div>
    <owl-carousel-o [options]="customOptions2">
      <ng-container *ngFor="let slide of productImages">
        <ng-template carouselSlide let-owlItem>
          <div [@activeSlide]="owlItem.isCentered ? 'active' : 'inActive'" class="slide">
            <img style="object-fit: cover" [alt]="slide.alt" [src]="slide.src">
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>

  </div>
</div>
<hr style="border: 2px solid #8FC517; opacity: 100; width: 800px; margin-left: 280px; border-radius: 10px">
<div  id="container-fluid-section-four mt-4">
  <div class="d-flex align-items-center justify-content-center">
    <div class="cover-one">
      <h1 class="text-center txt-sub-head-2 mb-4 mt-4" style="color: white">17+ YEARS OF<br>
        TRUSTED <span style="color: #8FC517;">AGRI SOLUTIONS</span></h1>
    </div>
  </div>
</div>
