.m-crd-wrapper{
  background: #08903D; padding: 15px; border-radius: 8px; width: 293.52px;
}

.m-img-wrapper{
  width: 264px ;object-fit: cover; border-radius: 8px
}

.m-header{
  color: #ffb606;
}


.txt-head1{
  color:  #188922;
}

.ruler{
  color: #ffb606;
  height: 3px;
  opacity: 1;
}
.descip{
  color: white;
}

.cover-one{
  background: #08903D;
  font-size: 26.88px;
  width: 100%;
  border-radius: 16px;
}
