.card-one-3{
  width: 396.8px;
  height: 335.6px;
  background: #313131;
  border-radius: 10px;
}

.ico-customer-3{
  color: #08903D;
}

.cover-one-3{
  background: #313131;
  font-size: 16px;
  /*padding: 3%;*/
  width: 83vw;
  border-radius: 10px;
}

