<div class="container1 clearfix">

  <div class="shoe-details-left">

    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/nike.svg" alt="logo" class="logo" />

    <div class="product-title">
      Air Structure <strong>19</strong>
    </div>

    <div class="product-description">
      Dynamic Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness.
    </div>

    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/shoe.png" alt="shoe" class="product-shot animated fadeInLeft" />

    <div class="product-price">12,995</div>

    <div class="product-price-details">
      EMI starts from 534 + Rs 100 Delivery
    </div>


  </div> <!-- end shoe details-left -->

  <div class="shoe-details-right">

    <span class="product-title">Air Structure <strong>19</strong></span>
    <span class="label">New</span>

    <div class="product-category">
      Running Collections
    </div>

    <div class="product-stars">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star gray"></i>
      <i class="fa fa-star gray"></i>
    </div>

    <ul class="product-tabs">
      <li class="active"><a href="#pane1">Description</a></li>
    </ul>

    <div class="tab-content">
      <div id="pane1" class="tab-pane active">
        Dynamic Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness.
      </div>
    </div> <!-- end tab-content -->

    <h4>Stocks</h4>
    <ul class="sizes">
      <li><a href="#">1Kg</a></li>
      <li><a href="#">5Kg</a></li>
      <li class="active"><a href="#">10Kg</a></li>
      <li><a href="#">25Kg</a></li>
      <li><a href="#">50Kg</a></li>
    </ul>

    <h4>Prices</h4>
    <ul class="sizes">
      <li><a href="#">100</a></li>
      <li><a href="#">500</a></li>
      <li class="active"><a href="#">1000</a></li>
      <li><a href="#">2500</a></li>
      <li><a href="#">5000</a></li>
    </ul>


    <button class="mt-5" mat-raised-button color="primary" style="background: #08903D; border-color: #08903D">Contact To Buy</button>
    &nbsp;&nbsp;
    <button mat-raised-button color="accent" style="background: #ff3b3b; border-color: #ff3b3b" (click)="onNoClick()">Close</button>

  </div> <!-- end shoe-details-right -->

  <div class="close-button text-center" (click)="onNoClick()">&times;</div>

</div> <!-- end container -->
