<div class="container1 clearfix">

  <div class="shoe-details-left">

    <img src="https://i.ibb.co/WDws5v0/freshio-01.png" alt="logo" class="logo" /> <strong style="color: #8FC517; font-size: 18px">Freshio Market</strong>

    <div class="product-title">
      <strong>{{productname}}</strong>
    </div>

    <div class="product-description">
      {{productdesc}}
    </div>

    <img [src]="product_imgs" alt="shoe" class="product-shot animated fadeInLeft" />

    <div class="product-price">{{Price}}</div>

    <div class="product-price-details">
      Item starts from {{Price}} + Rs 300 Delivery
    </div>


  </div> <!-- end shoe details-left -->

  <div class="shoe-details-right">

    <span class="product-title"><strong>{{productname}}</strong></span>
    <span class="label">New</span>

    <div class="product-category">
      Green Collections
    </div>

    <div class="product-stars">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star gray"></i>
      <i class="fa fa-star gray"></i>
    </div>

    <ul class="product-tabs">
      <li class="active"><a href="#pane1">Contact To Buy</a></li>
    </ul>

    <div class="tab-content">
      <div id="pane1" class="tab-pane active">
        <strong>Seller Name : </strong>{{seller}}
        <br>
        <strong>Contact No : </strong>{{contact}}
      </div>
    </div> <!-- end tab-content -->

    <h4>Stocks</h4>
    <ul class="sizes">
      <li><a >1Kg</a></li>
      <li><a >5Kg</a></li>
      <li class="active"><a >10Kg</a></li>
      <li><a >25Kg</a></li>
      <li><a >50Kg</a></li>
    </ul>

    <h4>Prices</h4>
    <ul class="sizes">
      <li><a >100</a></li>
      <li><a >500</a></li>
      <li class="active"><a >1000</a></li>
      <li><a >2500</a></li>
      <li><a >5000</a></li>
    </ul>


    <button class="mt-5" mat-raised-button color="primary" style="background: #08903D; border-color: #08903D" (click)="Requsetsent()">Request To Buy</button>
    &nbsp;&nbsp;
    <button mat-raised-button color="accent" style="background: #ff3b3b; border-color: #ff3b3b" (click)="onNoClick()">Close</button>

  </div> <!-- end shoe-details-right -->

  <div class="close-button text-center" (click)="onNoClick()">&times;</div>

</div> <!-- end container -->
