<footer class="footer-section">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="widget company-intro-widget">
            <a href="index.html" class="site-logo">
              <img src="https://i.ibb.co/KWBsygT/fococlipping-20220313-15031.png" alt="logo">
            </a>
            <p>We, at Freshio Agri Solutions, are a specialist in delivering
              ideal end-to-end solutions for all Agricultural needs. Freshio Agri Solutions
              has been one of the pioneers in the industry
              for the past 18 years.</p>
            <ul class="company-footer-contact-list">
              <li><mat-icon aria-hidden="false" class="ico-phone" aria-label="Example call icon">call</mat-icon>0123456789</li>
              <li><mat-icon aria-hidden="false" class="ico-phone" aria-label="Example call icon">schedule</mat-icon>Mon - Sat 8.00 - 18.00</li>
            </ul>
          </div>
        </div><!-- widget end -->
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="widget course-links-widget">
            <h2 class="widget-title">Popular Topics</h2>
            <ul class="courses-link-list">
              <li><a [routerLink]="'./homePage'"  (click)="scrollToTop()"><i class="fas fa-long-arrow-alt-right"></i>Homepage</a></li>
              <li><a [routerLink]="'./aboutUs'"  (click)="scrollToTop()"><i class="fas fa-long-arrow-alt-right"></i>About Us</a></li>
              <li><a [routerLink]="'./products'"  (click)="scrollToTop()"><i class="fas fa-long-arrow-alt-right"></i>Shop</a></li>
              <li><a [routerLink]="'./newsEvents'"  (click)="scrollToTop()"><i class="fas fa-long-arrow-alt-right"></i>News & Events</a></li>
              <li><a [routerLink]="'./contactUs'"  (click)="scrollToTop()"><i class="fas fa-long-arrow-alt-right"></i>Contact Us</a></li>
            </ul>
          </div>
        </div><!-- widget end -->
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="widget latest-news-widget">
            <h2 class="widget-title">lastest news</h2>
            <ul class="small-post-list">
              <li>
                <div class="small-post-item">
                  <a href="#" class="post-date">July 18, 2022</a>
                  <h6 class="small-post-title"><a [routerLink]="'./newsEvents'" (click)="scrollToTop()">Technical Agri Solutions Introduced</a></h6>
                </div>
              </li><!-- small-post-item end -->
              <li>
                <div class="small-post-item">
                  <a href="#" class="post-date">July 28, 2022</a>
                  <h6 class="small-post-title"><a [routerLink]="'./newsEvents'" (click)="scrollToTop()">Rc Machines Using For Agriculture</a></h6>
                </div>
              </li><!-- small-post-item end -->
            </ul>
          </div>
        </div><!-- widget end -->
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="widget newsletter-widget">
            <h2 class="widget-title">Newsletter</h2>
            <div class="footer-newsletter">
              <p>Sign Up to Our Newsletter to Get Latest Updates & Services</p>
              <form class="news-letter-form">
                <input type="email" name="news-email" id="news-email" placeholder="Your email address">
                <input type="submit" value="Send">
              </form>
            </div>
          </div>
        </div><!-- widget end -->
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 text-sm-left text-center">
          <span class="copy-right-text">© 2022 <a href="https://codepen.io/anupkumar92">agri</a> All Rights Reserved.</span>
        </div>
        <div class="col-md-6 col-sm-6">
          <ul class="terms-privacy d-flex justify-content-sm-end justify-content-center">
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div><!-- footer-bottom end -->
</footer>
