<section class="container mt-4 ">
  <div class="d-flex align-items-center justify-content-center">
    <div class="cover-one">
      <h1 class="text-center txt-sub-head-2 mb-4 mt-4 h1" style="color: white">Latest
        News<span style="color: #ffb606"> & </span>Events</h1>
    </div>
  </div>
</section>

<section class="mt-4 ">
  <div class="container-fluid">
    <div class="row">
      <div class="col-8 p-2">
        <div class="imgclass">
      <img  src="https://i.ibb.co/FKWcZh3/rice-1.jpg" alt="img" style="height: 350px;width: 890px; object-fit: cover; border-radius: 8px">
          <div class="imagedesc">
          <h1>Latest News title</h1>
          <h4>Sub title</h4>
          <p>Description</p>
          <div class="row">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>&nbsp;
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>&nbsp;
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>&nbsp;
          </div>
          <button class="mt-1" mat-raised-button color="primary">Read More ></button>
        </div>
      </div>
      </div>
      <div class="col-4 p-2">
        <div class="imgclass2">
        <img src="https://i.ibb.co/YPrLbxn/agri3.jpg" alt="agri3" style="height: 350px; width: 435px; object-fit: cover; border-radius: 8px">
          <div class="imagedes3">
          <h2>Latest News title</h2>
          <h5>Sub title</h5>
          <p>Description</p>
          <div class="row">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>&nbsp;
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>&nbsp;
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>&nbsp;
          </div>
          <button class="mt-1" mat-raised-button color="primary">Read More ></button>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row ">
      <div class="col-3 p-2">
        <div class="imgclass3">
        <img src="https://i.ibb.co/3Bbb9Q7/agri5.jpg" alt="img" style="height: 330px;width: 330px; object-fit: cover; border-radius: 8px">
          <div class="imagedes3">
          <h2>Latest News title</h2>
          <h5>Sub title</h5>
          <p>Description</p>
          <div class="row">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>&nbsp;
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>&nbsp;
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>&nbsp;
          </div>
          <button class="mt-1" mat-raised-button color="primary">Read More ></button>
        </div>
      </div>
      </div>
      <div class="col-3 p-2">
        <div class="imgclass5">
        <img src="https://i.ibb.co/8s5kXmq/agri4.jpg" alt="img" style="height: 330px;width: 330px; object-fit: cover; border-radius: 8px;">

        <div class="imagedes1">
          <h2>Latest News title</h2>
          <h5>Sub title</h5>
          <p>Description</p>
          <div class="row">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>&nbsp;
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>&nbsp;
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>&nbsp;
          </div>
          <button class="mt-1" mat-raised-button color="primary">Read More ></button>
        </div>
        </div>
      </div>
      <div class="col p-2">
        <div class="imgclass4">
        <img src="https://i.ibb.co/Sc5f8MK/agri6.jpg" alt="agri3" style="height: 330px; width: 657px; object-fit: cover; border-radius: 8px; ">
          <div class="imagedes2">
          <h1>Latest News title</h1>
          <h4>Sub title</h4>
          <p>Description</p>
          <div class="row">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>&nbsp;
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>&nbsp;
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>&nbsp;
          </div>
          <button class="mt-1" mat-raised-button color="primary">Read More ></button>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<br>
<section class="text-center">
  <button mat-raised-button color="primary">Load More ></button>
</section>
<br>
<br>
