
 .chatus{
cursor: pointer;
 }

.navbar-brand span{
  font-size: 28px;
  color: white;
}
.nav-link span{
  font-size: 18px;
  color: white;
}

.ico-social{
  font-size: 22px;
  color: white;
}

.ico-social:hover{
  color: #A2CD3A;
}


.nav-link span:hover{
  color: #A2CD3A;
}


.d-flex button:hover{
  background: #A2CD3A;
}
.d-flex span{
  font-size: 18px;
  color: #A2CD3A;
}

.navbar-sec{
  background: #08903D;
}

.ico-phone{
  font-size: 2em;
  color: #35B11F;
  padding-top: 9px;
  margin-left: 18px;
}

.txt-cl{
  margin-left: -13px;
}

.txt-desc{
  margin-top: -11px;
  color: #8F8D8B;
}

.btn-login:hover{
  background: #A2CD3A;
}

 a {
   text-decoration: none !important;
 }



