nav-head-2{
  font-family: Quicksand;
  color:  #08903D;
}

.text-start-2{
  font-family: Quicksand;
  font-size:30.4px;
  display: flex;
  flex-direction: row;
}

.text-start-2:after {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid #8FC517;
  width: 1px;
}



.txt-red-2{
  color:  #08903D;
}

.text-sub-2{
  font-family: RohnRounded ☞;
  font-size:44.6px;
  color: #8FC517;
}



.li-item-2{
  color: white;
  list-style: none;
  font-family: Quicksand;
}

.li-item-2::before{
  /*font-size: 25px;*/
  content: " • ";
  color:  #08903D;
}



.square-cont{
  padding-top: 6%;
  padding-bottom: 6%;
  align-items: center;
  align-self: center;
}


.square {
  width: 340px;
  height: 416px;
  border-radius: 14px;
  background:  #08903D;
}

.square-two {
  width: 340px;
  height: 416px;
  margin-left: 12%;
  margin-top: -11%;
  padding-bottom: 10%;
  border-radius: 14px;
  background: white;
}

.content2{
  position: absolute;
  object-fit: cover;
}

.mainscale{
  border-radius: 14px;
}

.txt-sub-head-2{
  font-family: RohnRounded ☞;
  color: white;
}

.txt-desc{
  font-size: 17px;
}
