
<div class="container-fluid mt-3" id="container-fluid-section-one">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7 ms-4">
      <div>
        <div>
          <h5 class="text-start-2 mt-4 txt-red-2" >We are Freshio Agri Solutions</h5>
          <h2 class="text-sub-2">The <span class="txt-red-2">one-stop-place</span> for all your <span class="txt-red-2">Agri solution</span> needs</h2>
        </div>
        <div>
          <p class="mt-4 txt-desc" >We, at Freshio Agri Solutions, are a specialist in delivering
            ideal end-to-end solutions for all Agricultural needs. Freshio Agri Solutions
            has been one of the pioneers in the industry
            for the past 18 years. <br>
            Freshio Agri Solutions (Pvt) Ltd was established in 2004 by
            Mr. Jhon Doe, a vastly experienced Agri Scientist and an
            expert widely known in the industry. Freshio has grown
            ever since with his vision of delivering most Scientifically advanced and
            top quality Agri solutions and services in Sri Lanka.
          </p>
        </div>

      </div>

    </div>
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 text-center d-flex align-items-center justify-content-center square-cont">
<!--      <div class="square">-->
        <div class="content">
          <div class="square-two">
            <div class="content2">
              <img src="https://i.ibb.co/1KsWXj0/agriculture-menu.jpg" alt="mainscale"  class="d-block w-100 mainscale">
            </div>
          </div>
        </div>
<!--      </div>-->
    </div>
  </div>
</div>
