<section>

  <div class="container mt-3 mb-3">
    <div class="d-flex align-items-center justify-content-center">
      <div class="cover-one">
        <h1 class="text-center txt-sub-head-2 mb-4 mt-4" style="color: white">ASK FROM<br>
          <span style="color: #ffb606">AGRI EXPERTS</span></h1>
      </div>
    </div>
  </div>

  <div class="container p-3 mt-5 mb-3"
       style="border: 3px solid #08903D; width: auto; height: auto; border-radius: 10px">
    <div class="row">
      <div class="col-1">
        <img src="https://i.ibb.co/mbkHnRS/woman.png" style="object-fit: cover ; width:80px; border-radius: 100%"
             alt="user">
      </div>
      <div class="col-10">
        <h5>User name</h5>
        <div class="row">
          <mat-icon class="col-1">public</mat-icon>
          <h6 class="col-2">&nbsp; public</h6>
        </div>
        <p>posted time</p>
      </div>


      <form class="col-1" >
        <div id="wrap" [matMenuTriggerFor]="menu">
          <mat-icon class="ms-5" style="cursor: pointer">more_vert</mat-icon>
        </div>
        <mat-menu #menu="matMenu" >
          <div mat-menu-item class="btn-login">
            <button  mat-icon-button aria-label="Delete" style="margin-left: -15px; width: 150px">
              <mat-icon style="margin-right: 15px">delete</mat-icon>hide post
            </button>
          </div>
        </mat-menu>
      </form>

    </div>
    <div class="mt-3" style="height: auto; width: auto">
      <h4 class="ms-5">Problem Title</h4>
      <p class="ms-5">Problem</p>
      <br>

          <mat-form-field class="cmnt-input ms-5">
            <input [(ngModel)]="newAttribute.city" id="newAttributeCity" matInput name="newAttributeCity" placeholder="Your Comment" >
          </mat-form-field>&nbsp;
          <button mat-raised-button color="primary" (click)="addFieldValue()" type="button" class="btn-add" style="color: white">Add Comment</button>
        <section *ngFor="let field of fieldArray; let i = index" class="ms-5 me-5">
          <div class="row mt-2 cmt-wrapper p-2">
            <h6 class="col-11 mt-2" [(ngModel)]="field.city" name="{{field.city}}">{{field.city}}</h6>
          <div class="col-1">
            <button mat-raised-button (click)="deleteFieldValue(i)" class="btn btn-default" type="button" color="warn">Delete</button>
          </div>
          </div>
        </section>
    </div>
  </div>

</section>
