.cover-one{
  background: #08903D;
  font-size: 26.88px;
  width: 100%;
  border-radius: 16px;
}

.cmnt-input{
  width: 80%;
}

.btn-add{
  color: white;
  background: #08903D;
  border-color: #08903D;
}

.cmt-wrapper{
  background: #D7D7D7;
  border-radius: 18px;
}

.btn-login:hover{
  background: #D32427;
  color: white;
}
