<body>
<div class="login">
  <div class="form">
    <form class="login-form">
      <span class="material-icons">verified_user</span>
      <h2 class="text-center" style="color: #08903D">Expert Login</h2>
      <form [formGroup]="driverForm">
        <input formControlName="email" type="text" placeholder="email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required/>
        <input formControlName="password" type="password" placeholder="password" required />
        <button (click)="signIn()">login</button>
        <button class="mt-3" [routerLink]="'../authentication'">Back To Home</button>
      </form>
    </form>
  </div>
</div>
</body>

