<div class="container mt-4 ">
  <div class="d-flex align-items-center justify-content-center">
    <div class="cover-one">
      <h1 class="text-center txt-sub-head-2 mb-4 mt-4 h11" style="color: white">MEET<br>
        OUR<span style="color:#A2CD3A"> AGRI</span> EXPERTS</h1>
    </div>
  </div>
</div>
<section class="expert-wrapper ">
  <div class="d-flex justify-content-around flex-column">
    <div class="row p-4">
      <div class="p-2 col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mt-2 mb-2 d-flex justify-content-center" *ngFor="let folder of serviceExperts">
          <mat-accordion>
            <mat-expansion-panel hideToggle class="expert-crd">
              <mat-expansion-panel-header style="width: auto;height: auto">
                  <img [src]="folder.expert_img" alt="women" class="user-img" >
                <mat-panel-description>
                  <div class="d-flex flex-column">
                  <h3 class="col" style="color: white">{{folder.expert_name}}</h3>
                  <h5 class="col" style="color: white">{{folder.expert_title}}</h5>
                    <p style="color: #ffb606">(Click to view More)</p>
                  </div>
                </mat-panel-description>
              </mat-expansion-panel-header>

              <div class="d-flex flex-column mt-2">

                <h6 style="color: #ffb606">{{folder.expert_title}}</h6>
                <p style="color: white">{{folder.expert_desc}}</p>

                <div class="row mt-3">
                  <div class="col-1">
                    <mat-icon style="color:white">phone</mat-icon>&nbsp;&nbsp;
                  </div>
                  <div class="col">
                    <h6 style="color: white">&nbsp;{{folder.expert_contact}}</h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col-1">
                    <mat-icon style="color: white">email</mat-icon>&nbsp;&nbsp;
                  </div>
                  <div class="col">
                    <h6 style="color: white">&nbsp;{{folder.expert_mail}}</h6>
                  </div>
                </div>

              </div>
            </mat-expansion-panel>
          </mat-accordion>
      </div>
    </div>
  </div>
</section>
